<form [formGroup]="slateForm">
    <div class="slateInfo">
        <h2>Create New Slate:</h2>
        <label>
            Title:
            <input type="text" formControlName="title">
        </label><br>
        <label>
            Creator:
            <input type="text" formControlName="creator">
        </label><br>
        <button class="saveButton" (click)="save()">Save New Slate</button>
    </div>
    <div class="questionList" formArrayName="questions">
        <h4>Questions</h4>
        <div *ngFor="let question of questions.controls; let i=index">
            <div class="questionItem" [formGroupName]="i">
                <div class="questionInfo">
                    <label>
                        Question Text:
                        <input type="text" formControlName="text">
                    </label><br>
                </div>
                <div class="candidateList" formArrayName="candidates">
                    <p>Possible Candidates:</p>
                    <div *ngFor="let candidate of candidates(i).controls; let j=index">
                        <div [formGroupName]="j">
                            <label>
                                Name:
                                <input type="text" formControlName="name">
                            </label><br>
                            <label>
                                Description:
                                <input type="text" formControlName="description">
                            </label><br>
                        </div>
                    </div>
                    <button (click)="addCandidate(i)">Add Candidate</button>
                </div>
            </div>
        </div>
        <button (click)="addQuestion()">Add Question</button>
    </div>
</form>